<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spectrum.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spectrum.js') }}"></script>
    <meta name="viewport" content="width=500">
    <style>

</style>
</head>
<body>

<script type="text/javascript">

function toggle(checkbox)
{
  // Switch on/off and update the status message
  var state = "/off";
  if (checkbox.checked)
  {
    state = "/on";
    $("#manual").prop("checked", true);
  }

  $.getJSON(state, function( data ) {
    $("#status").html(data.message);
  });
};

function setMode(name)
{
  // Set the mode and update the status message
  $.getJSON("/"+name, function( data ) {
    $("#status").html(data.message);
  });
};

$( document ).ready(function() {
  // Check the appropriate radiobutton
  $("#{{ mode }}").prop("checked", true);
});

</script>

    <div class="header"><h1 class="header_text">Welcome to MoteServer</h1>   
	<label class="switch">
  	  <input type="checkbox" onclick="toggle(this);" {{ on }}>
  	  <span class="slider round"></span>
	</label>
    </div>

    <div class="status"><p id="status">{{ status }}</p></div>
    <div class="cssBody">
	<h2>Modes</h2>
        
	<label class="container">Manual | <a href="/configure_manual">Configure</a><br/>
	  <input id="manual" type="radio" name="radio" onclick="setMode('manual');">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Rainbow
	  <input id="rainbow" type="radio" name="radio" onclick="setMode('rainbow');">
	  <span class="checkmark"></span>
	</label>
	<label class="container">CheerLights
	  <input id="cheer" type="radio" name="radio" onclick="setMode('cheer');">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Disco
	  <input id="disco" type="radio" name="radio" onclick="setMode('disco');">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Fairy Lights
	  <input id="fairy" type="radio" name="radio" onclick="setMode('fairy');">
	  <span class="checkmark"></span>
	</label>

    </div>

</body>
</html>