<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spectrum.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spectrum.js') }}"></script>
    <meta name="viewport" content="width=500">
    <style>

</style>
</head>
<body>

<script type="text/javascript">

function toggle(checkbox)
{
  // Switch on/off and update status
  var state = "/off";
  if (checkbox.checked)
  {
    state = "/on";
  }

  $.getJSON(state, function( data ) {
    $("#status").html(data.message);
  });
};

function requestAnimation(name)
{
 $.getJSON("/"+name, function( data ) {
  $("#status").html(data.message);
 });
};

</script>

    <div class="header"><h1 class="header_text">Welcome to MoteServer</h1>   
	<label class="switch">
  	  <input type="checkbox" onclick="toggle(this);" {{ on }}>
  	  <span class="slider round"></span>
	</label>
    </div>

    <div class="status"><p id="status">{{ status }}</p></div>
    <div class="cssBody">
	<h2>Modes</h2>
        
	<a href="/manual">Manual</a><br/>
  	<a href="javascript:void(0);" onclick="requestAnimation('rainbow');">Rainbow</a><br/>
	<a href="javascript:void(0);" onclick="requestAnimation('cheer');">Cheerlights</a><br/>
	<a href="javascript:void(0);" onclick="requestAnimation('disco');">Disco</a><br/>
	<a href="javascript:void(0);" onclick="requestAnimation('fairy');">Fairy</a><br/>

    </div>

</body>
</html>